.pc-show{
  display: initial !important;
}
.mobile-show, .mobile-show-flex{
  display: none !important;
}
.pc-show-flex{
  display: flex !important;
}
.container{
  width: 992px;
  min-width: 320px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px){
  .pc-show, .pc-show-flex{
    display: none !important;
  }
  .mobile-show{
    display: initial !important;
  }
  .mobile-show-flex{
    display: flex !important;
  }
  .container{
    width: 100%;
  }
}